<div class="easyui-tabs" data-options="fit:true">
    <div title="Уровень" id="level_panel_<%=level.id%>">
        <form>
            <div style="padding:5px">
                <input type="hidden" name="id" value="<%=level.id%>">
                <input name="title" readonly="true" class="easyui-textbox" label="Название:" style="width:99%" value="<%=level.title%>">
                <input name="hide_title" readonly="true" class="easyui-switchbutton" label="Скрыть Название:" data-options="onText:'Скрыть название',offText:'Показать название'" style="width:99%" <%=level.hide_title ? 'checked' : '' %>>
                <input name="duration" readonly="true" class="easyui-timespinner" label="Время уровня:" data-options="showSeconds:true" style="width:99%" value="<%=Time.at(level.duration).utc.strftime('%H:%M:%S')%>">
                <input name="code_hint_timer" readonly="true" class="easyui-timespinner" label="Подсказка на коды:" data-options="showSeconds:true" style="width:99%" value="<%=Time.at(level.code_hint_timer).utc.strftime('%H:%M:%S')%>">
                <input name="penalty" readonly="true" class="easyui-timespinner" label="Штраф:" data-options="showSeconds:true" style="width:99%" value="<%=Time.at(level.penalty).utc.strftime('%H:%M:%S')%>">
                <input name="number" readonly="true" class="easyui-numberspinner" label="Номер" data-options="" style="width:99%" value="<%=level.number.to_i%>">
                <input name="sequence" readonly="true" class="easyui-numberspinner" label="Порядковый номер" data-options="" style="width:99%" value="<%=level.sequence.to_i%>">
                <input name="need_codes" readonly="true" class="easyui-numberspinner" label="Коды для закрытия" data-options="" style="width:99%" value="<%=level.need_codes.to_i%>">
                <input class="easyui-combobox" readonly="true" style="width:99%" style="width:100%" data-options="data: [{text: 'Стандартный',value: 'standart'},
        {text: 'Дестрой',value: 'fallout'},
        {text: 'Снимаемый',value: 'removed'},
        {text: 'Снимаемый с плюшками',value: 'removed_w_bonus'},
        {text: 'Бесконечный',value: 'infinite'},
        {text: 'Сквозной',value: 'tranzit'}, {text: 'Бесконечная олимпийка',value: 'infinite_olympic'},
 {text: 'Олимпика',value: 'olympic'},
        {text: 'Олимпика бонусная',value: 'olympic_bonus'}
        ]" name="type" value="<%=level.type%>" label="Тип уровня:">
                <input name="answer" readonly="true" class="easyui-textbox" label="Код спойлера:" style="width:99%" value="<%=level.answer.to_a.join(',')%>">
                <hr>
                <div>
                    <label class="textbox-label">Задание:</label>
                    <div id="question <%=level.id%>" class="level_mce_<%=level.id%>">
                        <%=level.question%>
                    </div>
                </div>
                <hr>
                <div>
                    <label class="textbox-label">Спойлер:</label>
                    <div id="spoiler <%=level.id%>" class="level_mce_<%=level.id%>">
                        <%=level.spoiler%>
                    </div>
                </div>
                <hr>
            </div>
            <!-- <input type="submit" class="easyui-linkbutton"> -->
        </form>
    </div>
    <div title="Коды">
        <table id="dg_codes"></table>
    </div>
    <div title="Подсказки">
        <table id="dg_hints"></table>
    </div>
</div>
<script type="text/javascript">
$('#cc').combobox({
    url: '/teams/list',
    valueField: 'id',
    textField: 'title',
    valueField: 'id',
    limitToList: true,
    disabled: true,
    loadFilter: function(data) {
        result = data.filter(function(item) {
            return item.id > 0
        });
        result.push({
            id: 0,
            title: 'Убрать всех'
        })

        i = data.findIndex(function(item) {
            return item.id == 0
        });
        result[i]["selected"] = true
        return result

    }
});
// $("#btn_tbl_add").bind('click', function() {
// append(<%=level.id%>);
// });
$('#dg_codes').datagrid({
    url: '/arhive/level/codes_list/<%=level.id%>',
    fit: true,

    columns: [
        [{
            field: 'id',
            title: 'id',
            hidden: true
        }, {
            field: 'number',
            title: 'Номер',
            editor: 'numberspinner',
            width: 50
        }, {
            field: 'title',
            title: 'Название',
            editor: 'textbox',
            width: 100
        }, {
            field: 'code',
            title: 'Код',
            editor: 'textbox',
            width: 100
        }, {
            field: 'ko',
            title: 'KO',
            formatter: function(value, row) {
                return row.ko;
            },
            editor: {
                type: 'combobox',
                options: {
                    valueField: 'ko',
                    textField: 'ko',
                    method: 'get',
                    url: '/arhive/level/codes_list_ko/<%=level.game_id%>',
                    required: true
                }
            },
            width: 50
        }, {
            field: 'sektor',
            title: 'Сектор',
            editor: 'textbox',
            width: 100
        }, {
            field: 'note',
            title: 'Текст после взятия',
            editor: 'textarea',
            width: 100
        }, {
            field: 'hint',
            title: 'Расположение кода',
            editor: 'textarea',
            width: 100
        }, {
            field: 'main',
            title: 'Тип',
            editor: {
                type: 'checkbox',
                options: {
                    on: 'Осн',
                    off: 'Бнс'
                }
            },
            // checkbox: true
        }, {
            field: 'bonus',
            title: 'Бонус',
            editor: {
                type: 'timespinner',
                options: {
                    showSeconds: true
                }
            },
            width: 50
        }, ]
    ],
    // onClickRow: onClickRow,
    singleSelect: true,
    fitColumns: true,
    idField: 'id',
    // onAfterEdit: function(index, row, changes) {
    //     console.log(index, row, changes)
    //     $.post("/admin/level/codes_save", row, function(resp) {

    //         $.messager.show({
    //             // title:'My Title',
    //             msg: resp.message,
    //             timeout: 600,
    //             showType: 'slide',
    //             style: {
    //                 right: '',
    //                 top: document.body.scrollTop + document.documentElement.scrollTop,
    //                 bottom: ''
    //             }
    //         });
    //         if (resp.reload) {
    //             $('#dg_codes').datagrid('reload');
    //         }
    //     }, "json");
    // }

});


$('#dg_hints').datagrid({
    url: '/arhive/level/hints_list/<%=level.id%>',
    fit: true,
    columns: [
        [{
            field: 'id',
            title: 'id',
            hidden: true
        }, {
            field: 'timer',
            title: 'Время до подсказки',
            editor: {
                type: 'timespinner',
                options: {
                    showSeconds: true
                }
            },
            width: 50
        }, {
            field: 'title',
            title: 'Название',
            editor: 'textbox',
            width: 100
        }, {
            field: 'text',
            title: 'Подсказка',
            editor: 'textarea',
            width: 100
        }, ]
    ],
    // onClickRow: onClickRow,
    singleSelect: true,
    fitColumns: true,
    idField: 'id',

});
</script>
